n8n_workflows/weekly_summary_cron.json
{
  "name": "AimSync: Phase 3 - Weekly Summary Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 0"
            }
          ]
        }
      },
      "id": "cron-weekly-trigger",
      "name": "Cron Sunday Night",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $node[\"Cron Sunday Night\"].parameter[\"cloudflareAccountId\"] || \"your-account-id\" }}/d1/database/{{ $node[\"Cron Sunday Night\"].parameter[\"cloudflareDatabaseId\"] || \"your-database-id\" }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"sql\": \"SELECT st.user_id, st.username, count(st.id) as total_sessions, sum(st.hits) as total_hits, sum(st.misses) as total_misses, round((sum(st.hits) * 100.0) / (sum(st.hits) + sum(st.misses)), 2) as avg_accuracy, max(st.max_combo) as peak_combo, sum(st.xp_earned) as weekly_xp_gained, up.current_level, up.total_xp FROM scores_telemetry st JOIN user_progression up ON st.user_id = up.user_id WHERE st.created_at >= datetime('now', '-7 days') AND st.integrity_flag = 'HIGH_INTEGRITY' GROUP BY st.user_id, st.username, up.current_level, up.total_xp ORDER BY weekly_xp_gained DESC LIMIT 10;\"\n}",
        "options": {}
      },
      "id": "query-cloudflare-d1",
      "name": "Query Cloudflare D1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudflare-api-token",
          "name": "Cloudflare API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d1Result = $input.first().json;\n// Cloudflare D1 v4 REST API returns result array\nconst players = d1Result.result?.[0]?.results || d1Result.result?.results || [];\n\nif (players.length === 0) {\n  return {\n    markdownReport: \"### 📊 AimSync Weekly Performance Digest\\n\\nNo active training telemetry recorded this week.\",\n    htmlReport: \"<h3>📊 AimSync Weekly Performance Digest</h3><p>No active training telemetry recorded this week.</p>\"\n  };\n}\n\nlet markdown = \"### 📊 AimSync Weekly Performance Summary\\n\\nHere are the top-performing active users on the AimSync network over the past 7 days:\\n\\n\";\nmarkdown += \"| Rank | Username | Level | Sessions | Total Hits | Avg Accuracy | Peak Combo | Weekly XP |\\n\";\nmarkdown += \"| :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |\\n\";\n\nlet html = `\n<h3>📊 AimSync Weekly Performance Summary</h3>\n<p>Here are the top-performing active users on the AimSync network over the past 7 days:</p>\n<table border=\"1\" cellpadding=\"5\" style=\"border-collapse: collapse; font-family: sans-serif; width: 100%; max-width: 600px;\">\n  <thead>\n    <tr style=\"background-color: #f2f2f2; text-align: left;\">\n      <th>Rank</th>\n      <th>Username</th>\n      <th>Level</th>\n      <th>Sessions</th>\n      <th>Total Hits</th>\n      <th>Avg Accuracy</th>\n      <th>Peak Combo</th>\n      <th>Weekly XP</th>\n    </tr>\n  </thead>\n  <tbody>\n`;\n\nplayers.forEach((p, index) => {\n  const rank = index + 1;\n  markdown += `| ${rank} | **${p.username}** | ${p.current_level} | ${p.total_sessions} | ${p.total_hits.toLocaleString()} | ${p.avg_accuracy}% | ${p.peak_combo} | +${p.weekly_xp_gained.toLocaleString()} XP |\\n`;\n  \n  html += `\n    <tr>\n      <td>${rank}</td>\n      <td><strong>${p.username}</strong></td>\n      <td>${p.current_level}</td>\n      <td>${p.total_sessions}</td>\n      <td>${p.total_hits.toLocaleString()}</td>\n      <td>${p.avg_accuracy}%</td>\n      <td>${p.peak_combo}</td>\n      <td style=\"color: #2e7d32; font-weight: bold;\">+${p.weekly_xp_gained.toLocaleString()} XP</td>\n    </tr>\n  `;\n});\n\nmarkdown += \"\\n\\n*This automated diagnostics report is compiled directly from the Cloudflare D1 scores telemetry database. Low integrity runs have been excluded.*\";\nhtml += `\n  </tbody>\n</table>\n<p style=\"font-size: 11px; color: #666; margin-top: 15px;\"><em>This automated diagnostics report is compiled directly from the Cloudflare D1 scores telemetry database. Low integrity runs have been excluded.</em></p>\n`;\n\nreturn {\n  markdownReport: markdown,\n  htmlReport: html\n};"
      },
      "id": "format-report",
      "name": "Template Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"AimSync Analytics <reports@aimsync.dev>\",\n  \"to\": [\"admin@aimsync.dev\"],\n  \"subject\": \"AimSync Network Weekly Performance Summary\",\n  \"html\": \"{{ $json.htmlReport }}\"\n}",
        "options": {}
      },
      "id": "send-resend-email",
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        860,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend-api-key",
          "name": "Resend API Token"
        }
      }
    }
  ],
  "connections": {
    "Cron Sunday Night": {
      "main": [
        [
          {
            "node": "Query Cloudflare D1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Cloudflare D1": {
      "main": [
        [
          {
            "node": "Template Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Report": {
      "main": [
        [
          {
            "node": "Send Email via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
