n8n_workflows/weekly_ai_coach.json
{
  "name": "AimSync: Weekly AI Coach",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 7"
            }
          ]
        }
      },
      "id": "cron-sunday-trigger",
      "name": "Sunday Night Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://aimsync.pages.dev/api/scores",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $node[\"Sunday Night Cron\"].json.userId || \"active-player-id\" }}"
            },
            {
              "name": "history",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-telemetry",
      "name": "Fetch D1 Telemetry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "=Analyze these aim trainer stats for the player over the past week:\n- Accuracy: {{ $json.accuracy }}%\n- Reaction Times (last 20 shots): {{ $json.reactionTimes || \"[215, 230, 195, 240]\" }}\n- Urgency Index (speed focus vs control): {{ $json.averageUrgencyIndex || 1.15 }}\n- Over-Flick Coefficient (overshooting target): {{ $json.overFlickCoefficient || 1.08 }}\n- Miss Quadrant Distribution: TL:{{ $json.missQuadrants?.topLeft }}%, TR:{{ $json.missQuadrants?.topRight }}%, BL:{{ $json.missQuadrants?.bottomLeft }}%, BR:{{ $json.missQuadrants?.bottomRight }}%\n\nProvide 3 short, brutally honest tactical tips using competitive shooter terminology (e.g. Valorant/CS/Apex) on how they can fix their mechanical deficiencies this week.",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "ai-coach-prompt",
      "name": "Lightweight LLM Node",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "toEmail": "={{ $node[\"Fetch D1 Telemetry\"].json.email || \"player@aimsync.dev\" }}",
        "subject": "AimSync Weekly Performance Diagnostics",
        "emailType": "markdown",
        "markdownContent": "=### 🎯 Your Weekly Tactical Performance Report\n\nHello Agent,\n\nHere is your custom aim diagnostics breakdown generated by the AimSync AI Coach:\n\n{{ $json.response }}\n\n---\n**Your Grind Plan for this Week:**\n- **Static Flick** (Eco/Bonus) to rebuild alignment.\n- **Needlepoint** (Precision) to counter over-flicking trajectory errors.\n\n*Keep grinding. Lock in.*"
      },
      "id": "send-coach-report",
      "name": "Send Sleek Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        920,
        300
      ]
    }
  ],
  "connections": {
    "Sunday Night Cron": {
      "main": [
        [
          {
            "node": "Fetch D1 Telemetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch D1 Telemetry": {
      "main": [
        [
          {
            "node": "Lightweight LLM Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lightweight LLM Node": {
      "main": [
        [
          {
            "node": "Send Sleek Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
